{% extends "browse.html" %}
{% block content %}
    <div class="container_box">
        <span class="title">{{series.title}}&nbsp;({{series.language}}) - {{episode.episodeCode}}</span><br>
        <span class="title2">{{episode.title}}</span>
					<p>
                    {% if episode.localFilePresent %}
                        <img id="local_file_available" src="/static/img/dot_green.png" title="local file is available"/>
                    {% else %}
                        <img id="local_file_not_available" src="/static/img/dot_gray.png" title="local file is not available"/>
                    {% endif %}
					</p>
                    <p>{{episode.description}}</p>
				</div>
				<div class="container_box dark">
					<table class="invisible narrow" style="width:100%">
						<tr>
							<td style="width:50%; vertical-align: middle;">
								<span class="title3" style="height:30px;">Search for torrents</span>
							</td>
							<td style="width:50%; vertical-align: middle; text-align: right">
                                <input class="button" type="submit" value="Search" onclick="javascript:searchTorrents('{{series.id}}/{{episode.seasonNumber}}/{{episode.episodeNumber}}', '{{series.language}}');"/>
							</td>
						</tr>
					</table>
				</div>
				<div id="loading_box" class="container_box hidden">
					<p><img src="/static/img/ajax_loader_01.gif"/>&nbsp;searching torrents...</p>
				</div>
				<div id="result_box" class="hidden"></div>
{% endblock %}
