{% extends "browse.html" %}
{% block content %}
    <div class="container_box">
        <span class="title">{{series.title}}&nbsp;({{series.language}}) - {{episode.episodeCode}}</span><br>
        <span class="title2">{{episode.title}}</span>
					<p>
                    {% if episode.localFilePresent %}
                        <img id="local_file_available" src="/static/img/dot_green.png" title="local file is available"/>
                    {% else %}
                        <img id="local_file_not_available" src="/static/img/dot_gray.png" title="local file is not available"/>
                    {% endif %}
					</p>
                    <p>{{episode.description}}</p>
				</div>
				<div class="container_box dark">
					<table class="invisible narrow" style="width:100%">
						<tr>
							<td style="width:50%; vertical-align: middle;">
								<span class="title3" style="height:30px;">Search for torrents</span>
							</td>
							<td style="width:50%; vertical-align: middle; text-align: right">
								<input id="toggle_filter_button" class="button" style="margin-right: 30px;" type="submit" value="Show filter settings" onclick="javascript:toggleFilter();"/>
                                <input class="button" type="submit" value="Search" onclick="javascript:searchTorrents({{episode.episodeNumber}}, '{{series.language}}');"/>
							</td>
						</tr>
					</table>
				</div>
				<div id="search_filter_box" class="container_box adjacent hidden">
					<table class="invisible">
						<tr>
							<td>
								<table class="invisible">
									<tr>
										<td>File format:</td>
										<td><input type="checkbox" name="fileformatMp4" checked>&nbsp;mp4</td>
									</tr>
									<tr>
										<td>&nbsp;</td>
										<td><input type="checkbox" name="fileformatMkv" checked>&nbsp;mkv</td>
									</tr>
									<tr>
										<td>&nbsp;</td>
										<td><input type="checkbox" name="fileformatAvi" checked>&nbsp;avi</td>
									</tr>
									<tr>
										<td>&nbsp;</td>
										<td>&nbsp;</td>
									</tr>
								</table>
							</td>
							<td>
								<table class="invisible">
									<tr>
										<td>Resolution:</td>
										<td><input type="checkbox" name="resolutionUnknown" checked>&nbsp;unknown</td>
									</tr>
									<tr>
										<td>&nbsp;</td>
										<td><input type="checkbox" name="resolution480p" checked>&nbsp;480p</td>
									</tr>
									<tr>
										<td>&nbsp;</td>
										<td><input type="checkbox" name="resolution720p" checked>&nbsp;720p</td>
									</tr>
									<tr>
										<td>&nbsp;</td>
										<td><input type="checkbox" name="resolution1080p" checked>&nbsp;1080p</td>
									</tr>
								</table>
							</td>
							<td>
								<table class="invisible">
									<tr>
										<td>Sources:</td>
										<td>
											<input type="checkbox" name="acceptKickassTorrents" checked>&nbsp;Kickass Torrents
										</td>
									</tr>
									<tr>
										<td>&nbsp;</td>
										<td>
											<input type="checkbox" name="acceptThePirateBay" checked>&nbsp;The Pirate Bay
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
				</div>
				<div id="loading_box" class="container_box hidden">
					<p><img src="/static/img/ajax_loader_01.gif"/>&nbsp;searching torrents...</p>
				</div>
				<div id="result_box" class="hidden"></div>
{% endblock %}
