<!DOCTYPE html>
<html lang="en">
	<head>
    <title>habushu web interface</title>
		<meta charset="UTF-8">
		<link type="text/css" rel="stylesheet" href="/static/css/style1.css">
		<script type="text/javascript" src="/static/js/jquery-1.11.1.js"></script>
		<script type="text/javascript" src="/static/js/util.js"></script>
		<script type="text/javascript" src="/static/js/torrents.js"></script>
	</head>
	<body>
		<div id="header_div">
			<div id="title_div">
				<span class="header_title"><del>BottledTV</del> habushu web interface</span>
			</div>
			<div id="version_div">
				<span class="header_info">v0.1</span>
			</div>
			<div id="navigation_div">
                <a class="navigation_tab" href="/browse"><span>Browse</span></a>
                <a class="navigation_tab" href="/home"><span>Home</span></a>
			</div>
		</div>
		<div id="title_bar_div">
		</div>
		<div id="main_div">
            {% block body %}{% endblock %}
		</div>
		<div id="footer_div">
            <div class="reference"><del>BottledTV</del> habushu web interface</div>
		</div>
	</body>
</html>
